* {
  margin: 0;
  padding: 0;
}

:root {
  --size: 70px;
}

body {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  background-color: orange;

  margin: 0px 0px 50px;
}

#header {
  height: 80px;

  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  justify-content: space-between;
}

#user {
  display: flex;
}

img {
  height: var(--size);
  width: var(--size);

  cursor: pointer;
}

#log_out {
  height: 60px;
  width: 60px;
}

#username {
padding-top: 20%;
}

.task {
  margin: auto;

  display: inline;
  justify-content: space-between;
  
}

/* #task-texts {
  display: flex;
} */

input[type="checkbox"] {
  /* width: 100px;
  height: 100px; */

  color: aqua;

  cursor: pointer;

  border-radius: 0.15em;
}

input[type="checkbox"]::before {
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input:hover {
  background-color: aqua;
}
