* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* :root {
  font-size: 62.5%;
} */

body {
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;

  background: linear-gradient(45deg, rgba(9, 9, 221, 0.877), rgb(20, 160, 62));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#login {
  width: 250px;
  height: 175px;
  margin: 200px auto;

  padding: 5px;

  background-color: aliceblue;

  border-radius: 4px;
  border: 2px solid rgb(214, 236, 255);
}

input {
  border-color: rgb(152, 207, 255);
  border-style: solid;
  border-radius: 4px;

  margin: 0 0 0 30px;

  background: aliceblue;
  background-position: 10px 10px;
  background-repeat: no-repeat;

  transition: border-color 1s ease-in-out;
}

input:focus {
  border-color: rgba(9, 9, 221, 0.877);
}

button {
  margin: 15px auto 0px;

  width: 100px;
  height: 30px;

  font-family: "Open Sans", sans-serif;

  border: 2px solid rgba(145, 145, 216, 0.877);
  border-radius: 4px;
}

button:hover {
  transition: 1s;
  transition-timing-function: ease-out;

  background-color: rgb(187, 223, 255);
}

button:active {
  background-color: aliceblue;
  transition: .02s;
}

p {
  margin-bottom: 10px;
  margin-left: 5px;
}

#p-password {
  margin-top: 10px;
}
